.cart-header {
  padding: 1rem;
}

.hide-cart {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: hsl(219, 9%, 45%);
  padding: 1rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkout {
  color: white;
  background-color: hsl(26, 100%, 55%);
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.5px;
  width: 100%;
}
