.cart-header {
  padding: 1rem;
}

.hide-cart {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: hsl(219, 9%, 45%);
  padding: 1rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkout {
  color: white;
  background-color: hsl(26, 100%, 55%);
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.5px;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.checkout:hover {
  opacity: 0.8;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: hsl(219, 9%, 45%);
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.prices {
  text-align: left;
  margin-top: 0.5rem;
}

.prices > span:nth-child(3) {
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1rem;
  color: hsl(220, 13%, 13%);
}
