.sneakers {
  margin: 5%;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.sneakers-content {
  display: flex;
  flex-direction: column;
}

.sneakers-content h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.9rem;
}

.sneakers-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

.sneakers-content p {
  padding: 1rem 0;
  line-height: 1.5;
  color: hsl(219, 9%, 45%);
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.prices > h3 {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.ogprice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ogprice h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

.ogprice h3 {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .sneakers {
    flex-direction: column;
  }

  .sneakers-content h1 {
    font-size: 2rem;
  }

  .prices {
    align-items: center;
    flex-direction: row;
  }

  .ogprice {
    flex-direction: row;
    align-items: center;
  }

  .ogprice > h3 {
    position: absolute;
    right: 7%;
    padding: 0;
  }
}
