.sneakers {
  margin: 5%;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.sneakers-content {
  display: flex;
  flex-direction: column;
}

.sneakers-content h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.9rem;
}

.sneakers-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

.sneakers-content p {
  padding: 1rem 0;
  line-height: 1.5;
  color: hsl(219, 9%, 45%);
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.prices > h3 {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.ogprice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ogprice h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

.ogprice h3 {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .sneakers {
    flex-direction: column;
    margin: 0;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .sneakers-content {
    margin-top: 0;
  }

  .sneakers-content h1 {
    font-size: 2rem;
  }

  .prices {
    align-items: center;
    flex-direction: row;
  }

  .ogprice {
    flex-direction: row;
    align-items: center;
  }

  .ogprice > h3 {
    position: absolute;
    right: 7%;
    padding: 0;
  }
}

.shoeSection {
  position: relative;
  width: 450px;
}

.displayedShoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.displayedShoes > :nth-child(2) {
  width: 100%;
  border-radius: 15px;
  margin-top: -2rem;
  margin-left: -5rem;
}

.displayedShoes > :nth-child(1) {
  margin-top: 1rem;
}

.thumbnails img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnails img:hover {
  opacity: 0.3;
}

.thumbnailActive img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid hsl(26, 100%, 55%);
}

.shoeImage img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .shoeSection {
    display: none;
  }

  .shoe-mobile {
    margin-top: 15%;
  }

  .slideShoe > img {
    max-width: 100%;
  }
}
