.backdrop {
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  right: 10%;
  top: 15%;
  width: 310px;
  height: 250px;
  background-color: white;
  box-shadow: 5px 10px 15px #ccc;
  border-radius: 10px;
  z-index: 10;
}

.cart-content {
  height: 100%;
}
